@import url('variables.css');
.App {
  display: flex;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
}

#app-title-info {
  color: var(--bg);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: auto;
}

#app-content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-right: 50px;
  border-bottom: 3px solid var(--bg);
  gap: 40px;
}

.author {
  color: var(--bg);
  font-size: 12px;
  font-weight: bold;
}

#app-content-title h1 {
  margin: 0;
}

#app-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

}

#app-type {
  color: var(--bg);
  font-size: 60px;
  font-weight: bold;
}
